
#users {
  text-align: center;
  width: 100%;
}

#users td, #users th {
  border: 1px solid lightseagreen;
  padding: 3px;
}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: lightseagreen;
  color: white;
}

#buttonSort {
  text-align: center;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}

#buttonSort button {
  background-color: lightseagreen;
  color: white;
  border: 1px solid white;
}